<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="container">
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="relative">
    <%= image_tag("TopPage.jpg", alt: "Top image", class: "full-screen")  %>
    
    <div>
      <%= link_to "Sign up", signup_path, class: "btn-large absolute" %>
    </div>
  </div>
<% end %>