<% if @gallery_items.any? %>
  <h4>Gallery</h4>
  <div class='row'>
      <% @gallery_items.each do |t| %>
        <div class= 'card col s6 m4'>
          <div>
            <%= link_to image_tag(t.picture.gallery_image.url ,class: 'card-image', :size =>'300x300'), t %>
          </div>
        
          <% if current_user?(@user) %>
            <% if t.activated == false%>
                <div>This is not activated!</div>
            <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%#= will_paginate @feed_items %>
<% else %>
  <h3>Work is not decorated yet.</h3>
<% end %>