<% if @gallery_items.any? %>
  <h4>Gallery</h4>
  <div class='row'>
      <% @gallery_items.each do |t| %>
        <div class= 'card col s6 m4'>
          <div>
            <%= image_tag t.picture.url ,class: 'card-image', :size =>'300x300'%>
          </div>
          <div class= 'card-content' >
            <p><%= t.description %></p>
          </div>
        </div>
        <% if current_user?(@user) %>
        <div>
          <%= link_to "delete", t, method: :delete,
                                       data: { confirm: "You sure?" } %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%#= will_paginate @feed_items %>
<% else %>
  <h3>Work is not decorated yet.</h3>
<% end %>