<% if @gallery_items.any? %>
  <h4>Gallery</h4>
  <div class='row'>
      <% @gallery_items.each do |t| %>
        <div class= 'card col s6 m4'>
          <div>
            <%= link_to image_tag(t.picture.url ,class: 'card-image', :size =>'300x300'), t %>
          </div>
          <div class= 'card-content' >
            <p><%= number_to_currency(t.price, :unit =>  "JPY", :precision => 0) %></p>
            <p><%= t.description %></p>
          </div>
        
          <% if current_user?(@user) %>
            <% if t.activated == false%>
                <div>This is not activated!</div>
            <% else %>
              <div>
                <%= link_to "delete", t, method: :delete,
                                       data: { confirm: "You sure?" } %>
              </div>
            <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%#= will_paginate @feed_items %>
<% else %>
  <h3>Work is not decorated yet.</h3>
<% end %>