<% if @gallery_items.any? %>
  <h4 class="brown"><%= yield(:gallery_title) %></h4>
  <div class='row'>
    <% @gallery_items.each do |t| %>
      <div class= 'col s12 m6 l4'>
        <div class="card">
          <div class='card-image waves-effect waves-block waves-light'>
            <%= link_to image_tag(t.picture.gallery_image.url), t %>
            <% if current_user?(@user) %>
              <% if t.activated == false%>
                <span class="card-title grey darken-2">Not Activated</span>
              <% end %>
            <% end %>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
  <%= will_paginate @gallery_items, renderer: @custom_paginate_renderer %>
<% else %>
  <h3>No works here yet</h3>
<% end %>