<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>
<h3>Update your profile</h3>

<div class="container">
  <div class="row">
    <div class="col l12">
      <% if @user.avatar.present? %>
        <%= image_tag(@user.avatar.thumb.url) %>
      <% else %>
        <%= image_tag 'hatena.jpeg', :size =>'100x100' %>
      <% end %>
      <div class="divider"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>