<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h3>Sign up</h3>
<div class="container">
  <div class="row">
    <div class="col l12">
      <%= render 'form' %>
    </div>
  </div>
</div>