<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%# = gravatar_for @user %>
        <%#gravatarはなんか使いたくない。チュートリアルではusers_helperにgravatar_forヘルパーを使ってる%>
        <%= @user.name %>
      </h1>
      <div>
      <% if @user.avatar.present? %>
        <%= image_tag(@user.avatar.thumb.url) %>
      <% else %>
        <%= image_tag 'hatena.jpeg', :size =>'100x100' %>
      <% end %>
      </div>
    </section>
  </aside>
</div>