<div class="field image">
  <%= form_with(model: @painting, local: true) do |form| %>
    <%= form.label 'サムネイル（スクリーンショットなど）' %>
 
      <!--id "file"で、fileとdivを紐付けクリック時に連動-->
      <div id="img_field" onClick="$('#file').click()" >
 
        <!--画像があるときは画像を表示する-->
        <% if @painting.image.url.present? %>
          <%= image_tag(@painting.image.url) %>
        <% else %>
          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
 
      </div>
    
    <!--id "file"をつけ、「display:none;」で隠す-->
    <%= form.file_field :image, class: "image", style: "display:none;", id: "file"%>
  <% end %>
</div>
