<% if @feed_items.any? %>
  <div class='row'>
      <% @feed_items.each do |t| %>
        <% if t.activated == true %>
          <div class= 'card col s12 m6 l4'>
            <div>
              <%= link_to image_tag(t.picture.url ,class: 'card-image', :size =>'300x300'), painting_path(t.id) %>
            </div>
            <div class= 'card-content' >
              <p><%= number_to_currency(t.price, :unit =>  "JPY", :precision => 0) %></p>
              <p><%= t.description %></p>
              painted by
              <%= link_to t.user.name, user_path(t.user) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%#= will_paginate @feed_items %>
<% end %>