<% provide(:gallery_title, "My Gallery") %>
<div class="row">
  <div class="col l12">
    <div class="row">
      <div class="col l3 m12 card-panel grey lighten-1">
        <h3>Menu</h3>
        <ul>
          <div class="divider"></div>
          <li><%= link_to  "アカウント設定", edit_user_path(current_user) %></li>
          <div class="divider"></div>
          <li><%= link_to  "購入した作品", mypages_purchases_path %></li>
          <div class="divider"></div>
          <li><%= link_to  "作品を投稿する", sell_path %></li>
          <div class="divider"></div>
          <li>text</li>
        </ul>
      </div>
      <div class="col l9 m12">
        <%= render 'users/gallery'%>
      </div>
    </div>

    </div>
  </div>

</div>
