// Place all the styles related to the Mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//stripe_connectボタンを適当に中央っぽく
//おそらくfooter固定でややこしくなってる
.outer{
  padding-top: 200px;
  max-width: 50%;
  margin: 0 auto;
}
.inner{
    top: 50%;
}